{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="media-src 'none'">
  <title>Digital Archive</title>
  <link rel="stylesheet" href="{% static 'react-build/assets/index.css' %}?v=20260828-21">
  <link rel="stylesheet" href="{% static 'css/performance.css' %}?v=2">
</head>
<body>
  <div id="root"></div>
  <script type="module" src="{% static 'react-build/assets/app.js' %}?v=20260828-21"></script>
</body>
</html>
